<?xml version="1.0" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" id="grid" xmlns:xlink="http://www.w3.org/1999/xlink"
    data-title="{{ puzzle.title }}" data-rows="{{ puzzle.height }}" data-cols="{{ puzzle.width }}"
    data-size="50" data-creator="HexGrids"
    height="100%" width="100%" fill="white"
    viewbox="0 0 {{ puzzle.width * 50 + 8 }} {{ puzzle.height * 50 + 8 }}">

  <title>{{ puzzle.title }}</title>
  <desc>Created by HexGrids - https://github.com/lukwam/hexgrids</desc>
  <defs>
    <circle id="svg-circle" r="21" fill="transparent" stroke-width="4px" />
    <circle id="svg-shadecircle" r="22" />
    <rect id="svg-barjoincap" fill="black" height="4" width="4" x="0" y="0" />
    <rect id="svg-block" height="50" width="50" fill="black" stroke="black" stroke-width="1px" />
    <rect id="svg-shadesquare" height="50" width="50" stroke="black" stroke-width="1px" />
    <rect id="svg-square" height="50" width="50" {% if puzzle.show_grid_lines %}stroke="black" stroke-width="1px"{% endif %} />
  </defs>

  <!-- Blanks -->
  <g id="svg-blanks" />

  <!-- Squares -->
  <g id="svg-squares">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.value %}
    <use id="svg-square-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-square" fill="white" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 4}}" y="{{ cell.row * 50 + 4 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Blocks -->
  <g id="svg-blocks">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.block %}
    <use id="svg-block-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-block" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 4}}" y="{{ cell.row * 50 + 4 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Shade Squares -->
  <g id="svg-shadesquares">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.shade_square %}
    <use id="svg-shadesquare-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-shadesquare" fill="{{ cell.shade_square }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 4}}" y="{{ cell.row * 50 + 4 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Shade Circles -->
  <g id="svg-shadecircles">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.shade_circle %}
    <use id="svg-shadecircle-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-shadecircle" fill="{{ cell.shade_circle }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 29 }}" y="{{ cell.row * 50 + 29 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Circles -->
  <g id="svg-circles">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.circle %}
    <use id="svg-circle-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-circle" stroke="{{ cell.circle }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 29 }}" y="{{ cell.row * 50 + 29 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Xs -->
  <g id="svg-xs">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.shade_x %}
    <line id="svg-x-{{ cell.row }}-{{ cell.col }}" stroke="{{ cell.shade_x }}" stroke-width="4px" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 8 }}" y1="{{ cell.row * 50 + 8 }}" x2="{{ cell.col * 50 + 50 }}" y2="{{ cell.row * 50 + 50 }}" />
    <line id="svg-x-{{ cell.row }}-{{ cell.col }}" stroke="{{ cell.shade_x }}" stroke-width="4px" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 50 }}" y1="{{ cell.row * 50 + 8 }}" x2="{{ cell.col * 50 + 8 }}" y2="{{ cell.row * 50 + 50 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  {% if puzzle.show_grid_bars in ["all", "puzzle"] or (puzzle.show_grid_bars == "solution" and show_solution ) %}
  <!-- Across Bars -->
  <g id="svg-acrossbars" stroke="black" stroke-width="4px">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.right_bar and not cell.right_border %}
    <line id="svg-acrossbar-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 54 }}" y1="{{ cell.row * 50 + 4 }}" x2="{{ cell.col * 50 + 54 }}" y2="{{ cell.row * 50 + 54 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Down Bars -->
  <g id="svg-downbars" stroke="black" stroke-width="4px">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.bottom_bar and not cell.bottom_border %}
    <line id="svg-downbar-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 4 }}" y1="{{ cell.row * 50 + 54 }}" x2="{{ cell.col * 50 + 54 }}" y2="{{ cell.row * 50 + 54 }}" />
    {%- endfor %}
    {%- endfor %}
  </g>
  {% endif %}

  {% if puzzle.show_grid_bars == "all" or (puzzle.show_grid_bars == "answers" and show_solution) or (puzzle.show_grid_bars == "puzzle" and not show_solution) %}
  <!-- Bar Join Caps -->
  <g id="svg-barjoincaps">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row %}
    {%- if cell.top_bar and cell.left_bar %}
    <use id="svg-barjoincap-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-barjoincap" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 2 }}" y="{{ cell.row * 50 + 2 }}" />
    {%- endif %}
    {%- if cell.top_bar and cell.right_bar %}
    <use id="svg-barjoincap-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-barjoincap" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 52 }}" y="{{ cell.row * 50 + 2 }}" />
    {%- endif %}
    {%- if cell.bottom_bar and cell.left_bar %}
    <use id="svg-barjoincap-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-barjoincap" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 2 }}" y="{{ cell.row * 50 + 52 }}" />
    {%- endif %}
    {%- if cell.bottom_bar and cell.right_bar %}
    <use id="svg-barjoincap-{{ cell.row }}-{{ cell.col }}" xlink:href="#svg-barjoincap" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 52 }}" y="{{ cell.row * 50 + 52 }}" />
    {%- endif %}
    {%- endfor %}
    {%- endfor %}
  </g>
  {% endif %}

  <!-- Numbers/Labels -->
  <g id="svg-numbers" fill="black" font-family="helvetica" font-size="14px">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.name %}
    <text id="svg-number-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 8 }}" y="{{ cell.row * 50 + 19 }}">{{ cell.name }}</text>
    {%- endfor %}
    {%- endfor %}
  </g>

  <!-- Defaults -->
  <g id="svg-defaults" fill="black" font-family="helvetica" font-size="24px" text-anchor="middle">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.default %}
    <text id="svg-default-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 29 }}" y="{{ cell.row * 50 + 29 }}" dominant-baseline="central">{{ cell.default }}</text>
    {%- endfor %}
    {%- endfor %}
  </g>

  {% if show_solution -%}
  <!-- Answers -->
  <g id="svg-answers" fill="black" font-family="helvetica" font-size="24px" text-anchor="middle">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row if cell.value %}
    <text id="svg-answer-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x="{{ cell.col * 50 + 29 }}" y="{{ cell.row * 50 + 29 }}" dominant-baseline="central">{{ cell.value }}</text>
    {%- endfor %}
    {%- endfor %}
  </g>
  {%- endif %}

  {% if puzzle.show_grid_border %}
  <!-- Borders -->
  <g id="svg-border" stroke="black" stroke-width="4px">
    {%- for row in puzzle.grid.grid %}
    {%- for cell in row %}
    {%- if cell.top_border %}
    <line id="svg-topborder-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 2 }}" y1="{{ cell.row * 50 + 4 }}" x2="{{ cell.col * 50 + 56 }}" y2="{{ cell.row * 50 + 4 }}" />
    {%- endif %}
    {%- if cell.left_border %}
    <line id="svg-leftborder-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 4 }}" y1="{{ cell.row * 50 + 2 }}" x2="{{ cell.col * 50 + 4 }}" y2="{{ cell.row * 50 + 56 }}" />
    {%- endif %}
    {%- if cell.right_border %}
    <line id="svg-rightborder-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 54 }}" y1="{{ cell.row * 50 + 2 }}" x2="{{ cell.col * 50 + 54 }}" y2="{{ cell.row * 50 + 56 }}" />
    {%- endif %}
    {%- if cell.bottom_border %}
    <line id="svg-bottomborder-{{ cell.row }}-{{ cell.col }}" data-col="{{ cell.col }}" data-row="{{ cell.row }}" x1="{{ cell.col * 50 + 2 }}" y1="{{ cell.row * 50 + 54 }}" x2="{{ cell.col * 50 + 56 }}" y2="{{ cell.row * 50 + 54 }}" />
    {%- endif %}
    {%- endfor %}
    {%- endfor %}
  </g>
  {%- endif %}

</svg>
